// Colors for good-deed
$primary: #e27102;
$primary-light: #ec9c62; // for btns hover effect on primary layout
$primary-muted: #fefaf0; // for articles background
$secondary: #193171;
// Colors for good-deed


$gray-1: #555;
$gray-2: #666;
$gray-3: #aaa;
$gray-4: #ddd;
$gray-5: #f8f8f8;
$danger: #9e0000;
$fb: #1877f2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$aspect-ratios: (
        "1x1": 100%,
        "1x2": 50%,
        "45x27": calc(27 / 45 * 100%),
        "62x29": calc(29 / 62 * 100%),
        "62x19": calc(19 / 62 * 100%),
        "16x9": calc(9 / 16 * 100%),
        "5x3": calc(3 / 5 * 100%),
        "3x2": calc(2 / 3 * 100%)
);

$font-family-sans-serif: "Rubik", sans-serif;
$lead-font-size: 16px;


// Buttons
//$btn-line-height: $input-btn-line-height;
$btn-padding-x: 20px;
$btn-padding-y: 10px;
$btn-border-radius: 10px;
//$btn-font-size: $input-btn-font-size;
$btn-font-weight: 500;
$btn-disabled-opacity: 1;


