.container {
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

    & article {
        border: 1px solid #E27102;
        margin: 20px;
        padding: 10px;
    }
}

.intro {
    margin-top: 100px;
    padding: 0 200px;
    &_text {
        margin-top: 50px;
        color: #193171;
        max-width: 70%;
    }
    &_moreBtn {
        display: inline-block;
        margin-top: 15px;
        border-radius: 30px;
        padding: 20px 30px;
        background-color: #E27102;
        color: #fefaf0;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            background-color: #ba350a;
        }
    }
}

.childCard {
    display: flex;
    border: 1px solid #E27102;
    padding: 10px;
    max-width: 50%;

    & .imgWrapp {
        width: 200px;
        min-width: 200px;
        img {
            max-width: 90%;
        }
    }
}

.childernList {
    display: flex;
    column-gap: 10px;
}

.partnersList {
    display: flex;
    column-gap: 20px;
}

.partnerCard {
    width: 100px;
    height: 100px;
    border: 1px solid #E27102;
}