.nav {
  display: flex;

  ul {
    margin: 0;
  }
}

.item {
  margin: 0;

  a {
    padding: 50px;
    text-decoration: none;
    color: #E27102;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 8px solid;
    border-bottom-color: #E27102;
    &:hover {
      border-bottom: 8px solid;
      border-bottom-color: #ba350a;
      color: #ba350a;
    }
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}