
.header {
    grid-area: h;
    background-color: #ba350a;
}

.header img {
    width: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100%;
}