.jumbotron {
  $jumbotron-height: 600px;
  $jumbotron-height-sm: 226px;
  color: #ffffff;
  height: $jumbotron-height;
  display: flex;
  min-height: $jumbotron-height;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 22px;
    font-weight: 300;
    width: 600px;
    height: 450px;
    background-color: #e27102;
    padding: 30px 50px;
    z-index: 2;

    a {
      text-decoration: none;
      font-size: 18px;
      &:hover {
        opacity: 0.7;
      }

      i {
        font-size: 16px;
      }
    }
  }

  &__photo {
    background-image: url('../../assets/images/painting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 550px;
    z-index: 1;
    margin-left: -50px;
  }
}

