.footer {
    grid-area: f;
    background-color: #E27102;
    &_btn {
        display: inline-block;
        margin-top: 15px;
        border-radius: 30px;
        padding: 20px 30px;
        background-color: #E27102;
        border: 1px solid #fefaf0;
        color: #fefaf0;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        opacity: 1 !important;
        &:hover {
            background-color: #fefaf0;
            color: #E27102;
            opacity: 1 !important;
            cursor: pointer;
        }
    }
}

.container {
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100%;

    a {
        color: #fefaf0;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}

.socialNetworks {
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;

    a {
        opacity: 1;
    }
}

.socialBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
        width: 40px;
        height: 40px;
    }
}